.About{
    background-color: rgba(165, 177, 202, 0.3);
    height: 700px;
}
.About > h3{
    margin: 0px;
    
    display: flex;
    
}
.ola{
    float: left;
      padding: 30px;
      border-radius: 10px;
      overflow: hidden; 
      box-shadow: 3px teal;
      transition: transform 100ms ease-in;
      cursor:pointer;
}

.ola > img{
    width: 400px;
    height: 500px;
    margin-left: 40px;
    
}
.ola:hover{
    transform: scale(1.07)
}
.details{
    float: right;
    margin-left: 500px;
    margin-top: -500px;
}
.btn-about > button {
    background-color: darkblue;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    margin: 30px;
    
    border: none;
    outline: none;
    font-size: medium;
    margin: 250px;
}



