.About{
    background-color: rgba(165, 177, 202, 0.3);
    height: 700px;
    margin: 0px;
    width: 100vw;
}

.heading{
    text-align: center;
    margin: 0px;
   
    
    
}
.sub-heading{
    text-align: center;
    margin: 30px;
    font-style: italic;
    font-family: cursive;
}
.ola{
    float: left;
      padding: 20px;
      border-radius: 10px;
      overflow: hidden; 
      box-shadow:1px 2px 18px 4px rgba(0, 0, 0, 0.75);
      transition: transform 100ms ease-in;
      cursor:pointer;
      margin-left: 40px;
}

.ola > img{
    width: 300px;
    height: 500px;
    margin-left: 4px;
    margin-top: -60px;
    
}
.ola:hover{
    transform: scale(1.07)
}
.details{
    float: right;
    margin-left: 400px;
    margin-top: -500px;
}
.btn-about > a > button {
    background-color: darkblue;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
    font-size: medium;
    margin: 500px;
    display: flex;
    position: absolute;
    padding: 15px;
    margin-left: 1100px;
    cursor: pointer;
}
.name{
    cursor: pointer;
    margin-left: 10px;
    --colorA:rgb(0,191,255);
    --colorB:hsl(195, 72%, 65%);
    --colorC:rgb(135,206,250);
    --colorD:rgb(176,196,222);
    --colorE:#89CFF0;
    --colorF:lightblue;
    --colorG:#F0FFFF;
    --colorH:rgb(231,254,255);
    
    
    animation-name: changeColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes changeColor{
    0%{
        color: var(--colorA);
        
    }
    10%{
        
        color: var(--colorB);
    }
    30%{
        color: var(--colorC);
    }
    40%{
        color: var(--colorD);
    }
    60%{
        color: var(--colorE);
    }
    70%{
        color:var(--colorF)
    }
    90%{
        color: var(--colorG);
    }
    100%{
        color: var(--colorH);
    }

}

    

.hone{
    margin-left: 20px;
}
.name-one{
    color: lightblue;
}
.details-b{
    display:flex;
    
}

