img:hover{
  border-radius: 60%;
  border: 1px solid lightblue;
  width: 48px;
  padding: 20px;
  border-width: 3;
  background-color: rgba(163, 228, 133, 0.1); 
  transform: scale(1.07);
  border: none;
  
}