.Image{
  width: 900px;
  height: 100px;
  display:flex;
  flex: 3fr;
  object-fit: contain;
  justify-content:space-between;
  margin-left: 250px;
  margin-top: 30px;
    
  
}
.Image > img{
     border-radius: 50%;
     border: 1px solid lightblue;
     /* width: 50;
     height: 50; */
     padding: 10px;
     overflow: 'hidden';
     border-width: 3;
     /* border-color: 'red'; */
     background-color: rgba(228, 133, 133, 0.1);
     justify-content: space-between;
    
    

    
}