.Image{
  /* padding: 10px; */
  background-color: white;
  width: 900px;
  height: 100px;
  display:flex;
  flex: 3fr;
  object-fit: contain;
  justify-content:space-between;
    
  
}
.Image > img{
     border-radius: 50%;
     border: 1px solid floralwhite;
     /* width: 50;
     height: 50; */
     padding: 10px;
     overflow: 'hidden';
     border-width: 3;
     /* border-color: 'red'; */
     background-color: rgba(52, 52, 52, 0.1);
     justify-content: space-between;
    
    

    
}