.NavBar{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 100px;
    cursor: pointer;
}
.NavBar > h5{
         margin: 0px; 
       font-size: medium;
}
.NavBar > a >button{
    background-color: darkblue;
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
