/* .NavBar{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 100px;
    cursor: pointer;
    
} */
.NavBar a {
         margin: 0px; 
       font-size: 15px !important;
       color: blue !important;
}
.NavBar a:active{
   color: darkblue;
}
.NavBar a button{
    background-color: darkblue;
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
