.Contact{
   background-color: lightblue; 
   margin: 0px;
}


img{
    height: 50px;
    width: 50px;
    align-items: center;
}
.display-one{
    display: flex;
    width: 250px;
    height: 50px;
    align-items: center;
    background-color: aliceblue;
    border: none;
    margin-left: 400px;
    padding: 7px;
    border-radius: 10px;
    
    

}
.display-two{
    display: flex;
    width: 250px;
    height: 50px;
    background-color: aliceblue;
    border: none;
    margin-left: 700px;
    margin-top: -70px;
    padding: 7px;
    border-radius: 10px;
}
.btn{
    border:none;
    outline: none;
    /* align-items: center; */
    height: 50px;
    background-color: aliceblue;
}
h1{
    text-align: center;
    margin: 0px;
    margin-bottom: 30px;

}
.info{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    
}
.info > form > input{
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-left: 300px;
    width: 800px;
    padding: 10px;
}
.info > form > textarea{
    width: 800px;
    height: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 10px;
    margin-left: 300px;
    padding: 10px;
}
.btn-msg{
    background-color: darkblue;
    
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
    margin: 30px;
    margin-left: 600px;
    border: none;
    outline: none;
    font-size: medium;
    cursor: pointer;
}