.Icon{
    text-align: center;
}
.Linkedin{
    
    border-radius: 50%;
    width: 900px;
    height: 800px;
    
}
.Github{
    
    border-radius: 70%;
    width: 1000px;
}
.Contacty{
    
    border-radius: 50%;
}
.Person{
    
    border-radius: 50%;
}