.Icon{
    display: flex;
    margin-right: 500px;
    margin-left: 500px;
    justify-content: space-between;
    
}
.imgs{
    background-color: white;
    
    border-radius:50px;
    height: 60px;
    width: 60px;
}
.Icon > .imgs:hover{


}