
.imgs{
    background-color: white;
    
    border-radius:50px;
    height: 60px;
    width: 60px;
}

.Icon > a:hover{
    transition: transform 100ms ease-in;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    transform: scale(1.07);
}
