.projects{
    width: 900px;
    grid-template-columns: repeat(3, 1fr);
 gap: 3rem;
  display: grid;
  margin-top: 50px;
  margin-left: 20px;
  transition: transform 100ms ease-in;
}

.timage > img {
  width:30vw ;
  height: 50vh;
  box-shadow:1px 2px 18px 10px rgba(0, 0, 0, 0.30);
  background-color: white;
}
