

    .Home{
        background-color:lightblue;
        height: 100vh;
        width: 100vw;
        }
        
    
    .para-one{
        text-align: center;
        margin-top: 80px;
        font-family: cursive;
        font-style: italic;
        font-size: 1.4vw;
    }
    .para-two{
        text-align: center;
    
    }
    .para-three{
        text-align: center;
        font-size: 2vw;
    }
    .para-four{
        text-align: center;
        margin-left: 350px;
        margin-right: 350px;
    }
    .pone-two{
        display: flex;
        margin-left: 550px;
        font-size: 1.4vw;
    }
    .nme{
        margin-left: 10px;
        cursor:pointer;
        float: left;
        transition: transform 100ms ease-in;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    
    }
    @keyframes change{
        0%{
            color: blue;
            
        }
        2%{
            color: darkblue;
        }
        4%{
            color: lightblue;
        }
        6%{
            color: white;
        }
        8%{
            color: darkgray;
        }
        10%{
            color: blue;
        }
    
    }
    


    /* desktop-1200px
    laptop-992px
    tablet-768px
    phone-480px */
    /* @media (max-width:1700px){
        .Home{
            background-color:lightblue;
        }
        .para-one{
            margin-left: 150px;
        }
        .para-three{
            margin-left: 140px;
        }
        .para-four{
            margin-left: 550px;
            margin-right: 350px;
        }
    } */
    @media (max-width:1200px) and (min-width:992px){
        .Home{
            background-color: yellow;
        }
        .para-one{
            margin-left: 150px;
        }
        .para-three{
            margin-left: 140px;
        }
        .para-four{
            margin-left: 550px;
            margin-right: 350px;
        }
    }
    @media (max-width:992px)and (min-width:768px){
        .Home{
            width: 100vw;
            background-color: green;
        }
        .para-one{
            margin-left: 150px;
            margin-top: 40px;
        }
        .pone-two{
            margin-left: 470px;
            font-size: 14px;
        }
        .para-three{
            margin-left: 140px;
            margin-top: -20px;
            font-size: 25px;
        }
        .para-four{
            margin-left: 450px;
           display: flex;
            margin-top: -30px;
            font-size: smaller;
            
        }
    }
    @media (max-width:768px)and (min-width:480px){
        .Home{
            background-color: darkred;
        }
        .para-one{
            margin-left: -170px;
            margin-top: -20px;
            font-size: 2vw;
        }
        .pone-two{
            margin-left: 180px;
            font-size: 2vw;
            margin-top: -10px;
        }
        .para-three{
            margin-left: -100px;
            margin-top: -30px;
            font-size:3vw;
        }
        .para-four{
            margin-top: -30px;
            font-size: 1.7vw;
            margin-left: 202px;
        }
    }
    @media (max-width:480px)and (min-width:300px){
        .Home{
            background-color: purple;
        }
        .para-one{
            margin-left: -100px;
            margin-top: -20px;
            font-size: 2vw;
        }
        .pone-two{
            margin-left: 120px;
            font-size: 2.8vw;
            margin-top: -10px;
        }
        .para-three{
            margin-left: 10px;
            margin-top: -30px;
            font-size:3.7vw;
        }
        .para-four{
            margin-top: -30px;
            font-size: 2vw;
            margin-left: 180px;
           
            
        }
    }
    