.Home{
    background-color:lightblue ;
    height: 500px;
    
}
.para-one{
    text-align: center;
    margin-top: 80px;
    font-family: cursive;
    font-style: italic;
}
.para-two{
    text-align: center;

}
.para-three{
    text-align: center;
}
.para-four{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}
.pone-two{
    display: flex;
    margin-left: 550px;
}